.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  background-size: cover;
  opacity: 0.4;
}
.carousel-item > img {
  min-height: 250px;
  object-fit: cover;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
